*:not([class^="v-popper"]) {
  transition: all 0.08s ease;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    /*--color-midnight-35 in rgb*/
    box-shadow: 0 0 0 0 rgb(178 178 178 / 80%);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 var(--space-1) rgb(178 178 178 / 0%);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(178 178 178 / 0%);
  }
}


@keyframes pulse-active {
  0% {
    transform: scale(0.95);
    /*--color-fire in rgb*/
    box-shadow: 0 0 0 0 rgb(245 39 78 / 40%);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 var(--space-1) rgb(245 39 78 / 0%);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(245 39 78 / 0%);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}