@font-face {
  font-family: ClashDisplay;
  src: url("~/assets/fonts/ClashDisplay-Variable.woff2") format("woff2");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url("~/assets/fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url("~/assets/fonts/RobotoMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

