body {
  height: 100%;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-midnight);
  background: var(--color-snow);
  text-rendering: auto;
}
