h1,
.h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: var(--space-2);
  @media (--desktop) {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: var(--space-3);
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.03em;
  @media (--desktop) {
    font-size: 28px;
    line-height: 36px;
  }
}

h3,
.h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
  @media (--desktop) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4,
.h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
