input[type='text'] {
  border-radius: 8px;
  line-height: 20px;
  border-color: var(--color-midnight);
  border-width: 1px;

  font-size: 16px;
  font-family: var(--font-monospaced);

  @media (--desktop) {
    font-size: 14px;
  }

  &::placeholder {
    color: var(--color-midnight-35);
    opacity: 1;
  }
}

input[type='checkbox'] {
  margin: 0;
}