input[type='text'] {
  border-radius: 8px;
  font-size: 12px;
  line-height: 20px;
  min-height: 40px;
  padding: 8px;


  border-color: var(--color-midnight);
  border-width: 1px;

  @media (--desktop) {
    font-size: 14px;
  }
}