table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  vertical-align: initial;
  padding: var(--space-1) 0;


  @media (--desktop) {
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
    padding: var(--space-1) 0 7px;
  }
}

td {
  font-family: var(--font-monospaced);
  font-weight: 400;
  padding: var(--space-1) 0;
  text-align: left;
  border-bottom: 1.5px solid var(--color-midnight-25);
  vertical-align: middle;

  @media (--desktop) {
    padding: var(--space-1) var(--space-0);
  }
}

td:first-of-type {
  padding-left: 0;
}

td:last-of-type {
  padding-right: 0;
}

tr:last-of-type td {
  border-bottom: 0;
}

