table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: 500;
  vertical-align: initial;
  padding: var(--space-1) 0;
  letter-spacing: 0.03em;


  @media (--desktop) {
    font-size: 16px;
    line-height: 24px;
    padding: var(--space-2) 0 var(--space-1);
  }
}

td {
  border-bottom: 1px solid var(--color-midnight-15);
  vertical-align: middle;
  text-align: left;
  font-family: var(--font-monospaced);
  font-weight: 400;
  padding: var(--space-1) 0;

  @media (--desktop) {
    padding: var(--space-1) var(--space-0);
  }
}

td:first-of-type {
  padding-left: 0;
}

td:last-of-type {
  padding-right: 0;
}

tr:last-of-type td {
  border-bottom: 0;
}

