dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: var(--space-1) 0;
  margin-bottom: var(--space-3);
}

dt {
  width: fit-content;
  padding-right: var(--space-2);
  grid-column-start: 1;

  @media (--desktop) {
    padding: 0;
    width: 200px;
  }
}

dd {
  grid-column-start: 2;
}
