h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}


h1,
.h1 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1.2px;

  @media (--desktop) {
    font-size: 40px;
    line-height: 48px;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.84px;

  @media (--desktop) {
    font-size: 28px;
    line-height: 36px;
  }
}

h3,
.h3 {
  font-size: 16px;
  line-height: 24px;

  @media (--desktop) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4,
.h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;

  @media (--desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}


h5,
.h5 {
  font-size: 16px;
  line-height: 24px;

  @media (--desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}
