input[type='text'],
input[type='search'],
input[type='number'] {
  border-radius: 8px;
  line-height: 20px;
  border-color: var(--color-midnight-55);
  border-width: 1px;
  background: var(--color-surface);
    color: var(--color-midnight);

  font-size: 16px;
  font-family: var(--font-monospaced);

  @media (--desktop) {
    font-size: 14px;
  }

  &::placeholder {
    color: var(--color-midnight-55);
    opacity: 1;
  }
}

input[type='checkbox'] {
  margin: 0;
}
