table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--space-1);
}


th {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  vertical-align: middle;
  padding: 7px 0;


  @media (--desktop) {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0 var(--space-1);
  }
}

td {
  font-family: var(--font-monospaced);
  font-weight: 400;
  padding: 7px 0;
  text-align: left;
  border-bottom: 1px solid var(--color-midnight-25);
  vertical-align: middle;

  @media (--desktop) {
    padding: 10px var(--space-0) var(--space-1);
  }
}


thead tr:first-of-type th {
  padding-bottom: 0;
}


td:first-of-type {
  padding-left: 0;
}

td:last-of-type {
  padding-right: 0;
}

tr:last-of-type td {
  border-bottom: 0;
  padding-bottom: 0;
}

