table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--space-1);
}


th {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;

  vertical-align: middle;
  padding: var(--space-1);


  @media (--desktop) {
    font-size: 16px;
    line-height: 18px;
  }
}

td {
  font-family: var(--font-monospaced);
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid var(--color-midnight-25);
  vertical-align: middle;
  padding: var(--space-1) var(--space-2) var(--space-1) var(--space-1);
  white-space: wrap;
  word-wrap: break-word;

  @media (--desktop) {
    padding: var(--space-1);
  }
}

/*todo revert some styles back*/

th:first-of-type {
  padding-left: var(--space-1);

  @media (--desktop) {
    padding-left: 0;
  }
}


/*thead th {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  z-index: 10;*/
/*  !*To not have transparent background.*/
/*  background-color: white;*!*/
/*}*/

td:first-of-type {
  padding-left: var(--space-1);

  @media (--desktop) {
    padding-left: 0;
  }
}

td:last-of-type {
  padding-right: var(--space-1);

  @media (--desktop) {
    padding-right: 0;
  }
}

thead tr:first-of-type th {
  padding-bottom: 0;
}

tr:last-of-type td {
  border-bottom: 0;
}

tbody tr:hover td {
  background: var(--color-snow);
}

tbody tr:hover th {
  background: var(--color-snow);
}



