:root {
  --color-fire: #f5274e;
  --color-blue: #003dff;
  --color-success: #66e773;
  --color-error: #dc0000;
  --color-white: #ffffff;
  --color-snow: #f7f7f7;
  --color-midnight-15: #c8c8c8;
  --color-midnight-25: #C8C8C8;
  --color-midnight-35: #b2b2b2;
  --color-midnight-55: #868686;
  --color-midnight: #4e4e4e;
  --color-gray: #757581;
  --space-0: 4px;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;
  --space-7: 60px;
  --font-primary: ClashDisplay, Arial, sans-serif;
  --font-monospaced: 'Roboto Mono', monospaced, sans-serif;
  --container-width: 1280px;
}

@custom-media --desktop (min-width: 1280px);

